@use 'base/variables' as v;
@use 'base/mixins' as m;

.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include m.tablet{
        flex-direction: row; //iniciar sesion -- logo
        gap: 2rem; //distancia entre elmts
    }

        &:last-of-type{//el ultimo elemento
            margin: 0;
        }

        
        &__enlace{
            color:v.$negro;
            font-size: 1.8rem;
            font-weight: 700;
            
            
            &--principal{
                font-weight: 700;
                color: v.$verde;
                
            }
        }
    }


    

   
  



